<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true" class="ion-text-center margin_50">
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="email" placeholder="Correo" #email autofocus required></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-icon name="person-outline"></ion-icon>
        <ion-input type="text" placeholder="Nombre de usuario" #username required></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" #password placeholder="Contraseña" required></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-input type="password" placeholder="Repetir contraseña" required></ion-input>
      </ion-item>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button color="danger" class="margin_30" type="submit" (click)="onRegister(email,password)">REGISTRARSE</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
