{% extends "base.html" %} 
{% load static %} 
{% block title %}Vocabulary{% endblock title %} 
{% block content %}

<div class="grid_vocabulary">
    <aside class="aukerak">
      <h4 class="mb-5">Elige la categoría</h4>
      <button class="btn">Animal</button>
      <button class="btn">Food</button>
      <button class="btn">Furniture</button>
      <button class="btn">School material</button>
    </aside>
  
    <div class="tituloa">
      <h1>Vocabulary</h1>
    </div>
    <section id="vocabulary" class="vocabulary">
      {% for word in vocabulary %}
      <a href="#addBookDialog" data-toggle="modal" data-target="#exampleModal" data-word="{{word.word}}" data-spanish="{{word.spanish}}" data-audio="{{word.audio}}" class="open-dialog">
      <div id="word">
          <img src="/media/{{word.photo}}" />
          <p>{{word.word}}</p>
      </div>
    </a>
      {% endfor %}
    </section>

    <!-- The Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            
          </div>
          <div class="modal-body">
            
          </div>
          <div class="modal-footer">
            <button type="button" class="btn" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

</div>
  
<script>
  $(document).ready(function(){
    
    dialog();

    $("button").click(function(e){
      
      e.preventDefault();
      let types =$(this).text();
  
      let csrftoken = '{{ csrf_token }}';
      let data= {types:types}
      
      $.ajax({
        type: 'POST',
        headers:{'X-CSRFToken':csrftoken},
        url: "{% url 'clasified_vocabulary' %}",
        data: data,
        dataType:'json',
        success: function (response) {
          kodigoa=""
          for(let i=0; i<response.length;i++){
            kodigoa += '<a href="#addBookDialog" data-toggle="modal" data-target="#exampleModal" data-word="'+response[i].word+'" data-spanish="'+response[i].spanish+'" data-audio="'+response[i].audio+'" class="open-dialog">';
            kodigoa += '<div id="word">';
            kodigoa+='<img src="/media/'+response[i].photo+'"/>';
            kodigoa+='<p>'+response[i].word+'</p>';
            kodigoa+='</div></a>';
            
            $("#vocabulary").html(kodigoa);
          }

          dialog();
        },
        error: function (response) {
            alert("Ha habido un problema al cargar")
        },
      })
    });
  });

  function dialog(){
    $(".open-dialog").on("click", function () {
  
    var word = $(this).data('word');
    var spanish = $(this).data('spanish');
    var audio = $(this).data('audio');
    console.log(audio)
    
    $(".modal-header").html("<h3>"+ word+"</h3><button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>");

    $(".modal-body").html("<h5>Significa <b>"+spanish+"</b></h5><audio controls><source src='/media/"+audio+"' type='audio/mp3'></audio>");
    });
  }
</script>
{% endblock content %}