{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Title {% endblock title %}</title>
    {% load bootstrap4 %} {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %} 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

    <!-- Font Family -->
    <link href='https://fonts.googleapis.com/css?family=Montagu Slab' rel='stylesheet'>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/9c7dd19200.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% block content %} 
    {% endblock content %}
  </body>
  <script src="{% static 'js/vocabulary_modal.js' %}"></script>
</html>
