{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Title {% endblock title %}</title>
    {% load bootstrap4 %} {% bootstrap_css %}

    <!-- Font Family -->
    <link href='https://fonts.googleapis.com/css?family=Montagu Slab' rel='stylesheet'>

    <!-- Styles -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />

    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/82fd146993.js" crossorigin="anonymous"></script>
  </head>
  <body>
    {% block content %} {% endblock content %}
    {% bootstrap_javascript jquery='full' %} 
  </body>
</html>
