{% extends "base.html" %} 
{% load static %} 
{% block title %}EasyEnglish{% endblock title %} 
{% block content %}
{% for message in messages  %}
      <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            <strong>Mezua : </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
{% endfor %}

<div class="home_page">
    <h1>EasyEnglish</h1>
    <a class="btn" href="{% url 'login' %}">PLAY</a>
</div>


{% endblock content %}