{% extends "base.html" %} 
{% load static %} 
{% block title %}EasyEnglish | Inicio de sesión{% endblock title %} 
{% block content %}

<div class="home_page">
    <h1>INICIO DE SESIÓN</h1>
    
    {% for message in messages  %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
          <strong>Mezua : </strong> {{ message }}
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
  {% endfor %}
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.username }}
        {{ form.password }}
        <button type="submit" class="btn">INICIAR SESIÓN</button>
    </form>

    <a href="{% url 'register' %}">¿Todavía no tienes cuenta?</a>
</div>


{% endblock content %}