{% extends "base.html" %} 
{% load static %} 
{% block title %}EasyEnglish | Login{% endblock title %} 
{% block content %}


<div class="home_page">
    <h1>INICIO DE SESIÓN</h1>
    
    <form action="">
        <input type="email" class="form-control" name="email" placeholder="Correo">
        <input type="password" class="form-control" name="password" placeholder="Contraseña">
        <button type="submit" class="btn">INICIAR SESIÓN</button>
    </form>

    <a href="">¿Todavía no tienes cuenta?</a>
</div>


{% endblock content %}