{% extends "base.html" %}
{% load static %}
{% block title %}EasyEnglish | Perfil{% endblock title %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark">
    <h2>Perfil</h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a href="{% url 'game' %}"><h5 class="m-0">Atrás</h5></a>
              </li>
        </ul>
    </div>
</nav>
<div class="games_container container">
    <i class="fa-solid fa-face-smile" style="font-size: 100px;"></i>
    <div class="d-flex justify-content-center align-items-center">
        <h1>{{user.username}}</h1>
        <a href="#changeUsername" data-toggle="modal" data-target="#changeUsernameModal"><h4><i class="fa-solid fa-pencil ml-4 cursor-pointer"></i></h4></a>
    </div>
    
    <h4><i class="fa-solid fa-medal"></i> {{erabiltzaile.points}} points</h4>
    <div class="learntWords">
        <h4 class="pt-4">PALABRAS APRENDIDAS</h4>
        <div>
            {% for learnt in erabiltzaile.learnts.all %}
                <a href="#learntWords" data-toggle="modal" data-target="#learntWordsModal" data-word="{{learnt.word}}" data-spanish="{{learnt.spanish}}" data-audio="{{learnt.audio}}" class="learntwords-dialog">
                    <div>
                        <p>{{learnt.word}}</p>    
                    </div>
                </a>
            {% endfor %}
        </div>
        
    </div>

    <!-- Learnt word Modal -->
    <div class="modal fade" id="learntWordsModal" tabindex="-1" role="dialog" aria-labelledby="learntWordsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">

                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Change username Modal -->
    <div class="modal fade" id="changeUsernameModal" tabindex="-1" role="dialog" aria-labelledby="learntWordsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <button type="button" data-dismiss="modal" aria-label="Close" >
                        <span aria-hidden="true">&times;</span>
                      </button>
                </div>
                <div class="modal-body border-0">
                    <div class="form-title text-center">
                      <h4>Cambiar nombre de usuario</h4>
                    </div>
                    <div class="d-flex flex-column text-center">
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="email1" value="a">
                            </div>
                            <button type="button" class="btn">Login</button>
                        </form>
                    </div>
                </div>
                <div class="modal-footer border-0">
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        dialogLearntWords();
        changeUsername();
    })

    function dialogLearntWords() {
        $(".learntwords-dialog").on("click", function () {

            var word = $(this).data('word');
            var spanish = $(this).data('spanish');
            var audio = $(this).data('audio');

            $(".modal-header").html("<h3>" + word + "</h3><button type='button' class='close' data-dismiss='modal' aria-label='Close'><span aria-hidden='true'>&times;</span></button>");

            $(".modal-body").html("<h5>Significa <b>" + spanish + "</b></h5><audio controls><source src='/media/" + audio + "' type='audio/mp3'></audio>");
        });
    }
    function dialog() {
        $(".change-username-dialog").on("click", function () {
            
        });
    }
</script>
{% endblock content %}