{% extends "base.html" %} 
{% load static %} 
{% block title %}EasyEnglish | Registro {% endblock title %} 
{% block content %}

<div class="home_page">
    <h1>REGISTRO</h1>
    
    {% for message in messages  %}
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Mezua : </strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    {% endfor %}

    <form method="post" action="{% url 'register' %}">
        {% csrf_token %}
        {{ form.email }}
        {{ form.username }}
        {{ form.password }}
        <input type="password" class="form-control" name="repeatPassword" placeholder="  Repetir Contraseña">
        <button type="submit" class="btn">REGISTRARSE</button>
    </form>
</div>


{% endblock content %}