$primary_color: #246ee9;
$secondary_color: #db5a6e;
$secondary_color_darker: #d7485d;
$secondary_color_dark: #d0203a;
$secondary_color_disabled: rgba(219, 90, 110, 0.75);
$grey: rgba(111, 85, 0, 0.25);
$disabled: #efefef;
$light_grey: #808080;
$font_color: white;
$font_color_secundary: black;

$font_family: Montagu Slab;

$font_size_big_title: 70px;
$font_size_big_button: 30px;
$font_size_small_button: 20px;