.modal-header * {
  color: black !important;
}

.modal-body {
  text-align: left;
}
.modal-body * {
  color: black !important;
}
.modal-body button {
  background-color: #db5a6e;
  color: white !important;
}
.modal-body button:hover {
  background-color: #d7485d;
}
.modal-body button:active {
  background-color: #d0203a;
}

.modal-footer button {
  background-color: #db5a6e;
  color: white;
}
.modal-footer button:hover {
  background-color: #d7485d;
}
.modal-footer button:active {
  background-color: #d0203a;
}

* {
  color: white;
  font-family: Montagu Slab, FontAwesome;
}

.alert strong,
.alert span {
  color: #721c24;
}

h1 {
  font-size: 70px;
  font-weight: bold;
}

body {
  background-color: #246ee9;
}

/*Home page, login and register*/
.home_page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}
.home_page a {
  color: white;
  margin-top: 30px;
}
.home_page a.btn {
  font-size: 30px;
  background-color: #db5a6e;
  padding: 15px;
  color: white !important;
}
.home_page a.btn:hover {
  background-color: #d7485d;
}
.home_page a.btn:active {
  background-color: #d0203a;
}
.home_page form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home_page form input {
  color: black;
  margin: 20px;
  border: 5px solid #db5a6e;
  border-radius: 30px;
  padding: 25px;
}
.home_page form button {
  background-color: #db5a6e;
  color: white !important;
  font-size: 20px;
  padding: 15px;
}

/*Game menu*/
.game_menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.game_menu a {
  padding: 0;
  margin: 0 !important;
}
.game_menu a div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 30px;
  background-color: white;
  margin: 30px;
  border-radius: 50px;
  cursor: pointer;
}
.game_menu a div h3 {
  color: black;
  margin-top: 10px;
}

.games_container {
  text-align: center;
  margin-top: 50px;
  padding: 0 !important;
}
.games_container .floating_button {
  position: fixed;
  background-color: #db5a6e;
  padding: 15px;
  color: white !important;
  right: 5vh;
  bottom: 10vh;
  font-size: 20px;
}
.games_container .floating_button:hover {
  background-color: #d7485d;
}
.games_container .floating_button:active {
  background-color: #d0203a;
}

nav {
  background-color: #db5a6e !important;
  padding: 20px !important;
}
nav a {
  color: white;
}
nav a:hover {
  color: white;
}
nav h3 {
  font-size: 1.75rem !important;
  margin: 0;
}

/* Hangman  Change the fontSizes*/
.container_hangman {
  font-size: 16px;
  background-color: white;
  width: 90vw;
  max-width: 34em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  padding: 3em;
  border-radius: 0.6em;
  box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
}
.container_hangman #options-container {
  text-align: center;
}
.container_hangman #options-container h3 {
  color: black;
}
.container_hangman #options-container div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 1.2em 0 2.4em 0;
}
.container_hangman #options-container div button {
  padding: 0.6em 1.2em;
  border: 3px solid black;
  background-color: white;
  color: black;
  border-radius: 0.3em;
  text-transform: capitalize;
  margin: 0px 5px;
}
.container_hangman #options-container div button:disabled {
  border: 3px solid #808080;
  color: #808080;
  background-color: #efefef;
}
.container_hangman #options-container div button.active {
  background-color: rgba(219, 90, 110, 0.75);
  border: 3px solid black;
  color: black;
}
.container_hangman .letter-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.6em;
}
.container_hangman #letter-container button {
  height: 2.4em;
  width: 2.4em;
  border-radius: 0.3em;
  background-color: white;
  color: black;
}
.container_hangman #letter-container button:disabled {
  background-color: rgba(219, 90, 110, 0.75) !important;
  border: 2px solid black !important;
}
.container_hangman #user-input-section {
  display: flex;
  justify-content: center;
  font-size: 1.8em;
  margin: 0.6em 0 1.2em 0;
}
.container_hangman #user-input-section span {
  color: black;
}
.container_hangman canvas {
  display: block;
  margin: auto;
  border: 1px solid black;
}

.hide {
  display: none !important;
}

.new-game-popup {
  background-color: white;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 0.6em;
}
.new-game-popup #result-text h2 {
  font-size: 2.5em;
  text-align: center;
}
.new-game-popup #result-text p {
  font-size: 1.25em;
  margin: 1em 0 2em 0;
  color: black;
}
.new-game-popup #result-text p span {
  font-weight: 600;
  color: black;
}
.new-game-popup #result-text img {
  width: 150px;
  border-radius: 30px;
  margin-bottom: 20px;
}
.new-game-popup #result-text .win-msg {
  color: #39d78d;
}
.new-game-popup #result-text .lose-msg {
  color: red;
}
.new-game-popup button {
  font-size: 1.25em;
  padding: 0.5em 1em;
  background-color: #db5a6e;
  border: 3px solid black;
  color: black;
  border-radius: 0.2em;
  margin-bottom: 20px;
}
.new-game-popup button:hover {
  background-color: #d7485d;
}
.new-game-popup button:active {
  background-color: #d0203a;
}

/* Vocabulary */
.grid_vocabulary {
  display: grid;
  grid-template-rows: 150px auto;
  grid-template-columns: 24% 1fr;
  grid-gap: 10px;
  margin-bottom: 50px;
}
.grid_vocabulary .aukerak {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: white;
  padding: 20% 10% 30% 10%;
  height: 100vh;
  text-align: center;
  border-radius: 0px 0px 0.6em 0px;
  box-shadow: 0 1.2em 2.4em rgba(111, 85, 0, 0.25);
  display: flex;
  flex-direction: column;
}
.grid_vocabulary .aukerak h4 {
  color: black;
}
.grid_vocabulary .aukerak button {
  background-color: #db5a6e;
  padding: 15px;
  color: white !important;
  font-size: 20px;
  display: block;
  margin: 10px 15px 10px;
  border: 3px solid black;
}
.grid_vocabulary .aukerak button:hover {
  background-color: #d7485d;
}
.grid_vocabulary .aukerak button:active {
  background-color: #d0203a;
}
.grid_vocabulary .tituloa {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  align-items: end;
  justify-content: center;
}
.grid_vocabulary .vocabulary {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0px 5%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px;
  row-gap: 20px;
}
.grid_vocabulary .vocabulary a {
  flex-basis: 15%;
}
.grid_vocabulary .vocabulary a div {
  border: 2px solid black;
  box-shadow: 5px 5px #db5a6e;
  border-radius: 20px;
  text-align: center;
  padding: 1rem;
  background-color: white;
  cursor: pointer;
}
.grid_vocabulary .vocabulary a div p {
  margin-top: 0.5rem;
  margin-bottom: 0rem;
  color: black;
  font-size: 1.5rem;
}
.grid_vocabulary .vocabulary a div img {
  width: 100%;
  max-width: 25vh;
  border-radius: 20px;
}
@media (max-width: 1440px) {
  .grid_vocabulary .vocabulary a div img {
    max-width: 15vh;
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .grid_vocabulary .vocabulary a div img {
    max-width: 70px;
    width: 100%;
  }
}
@media (max-width: 600px) {
  .grid_vocabulary .vocabulary a div img {
    max-width: 60px;
    width: 100%;
  }
}

/* Memory game */
.grid_memory {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 20px;
  width: 100%;
  height: 100%;
  padding: 5vh 20vw;
}
.grid_memory .cell {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: inherit;
  border-radius: 30px;
}
.grid_memory .cell div {
  height: inherit;
  width: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 4px solid white;
  border-radius: 30px;
}
.grid_memory .cell div img {
  width: inherit;
  height: inherit;
  border-radius: 30px;
}
.grid_memory .cell .front {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transform: rotateY(90deg);
}
.grid_memory .cell .front p {
  color: black;
  font-size: 20px;
  margin: 0;
}
.grid_memory .cell .back {
  background-color: #db5a6e;
  cursor: pointer;
}
.grid_memory .cell .flip,
.grid_memory .cell .matched,
.grid_memory .cell .show {
  transform: rotateY(0deg);
}

/* Match vocabulary */
.grid_match {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 7vh 10vw;
}
.grid_match .photo {
  grid-column: 1/2;
}
.grid_match .text {
  grid-column: 4/5;
}
.grid_match .chosen {
  border: 5px solid #db5a6e;
}
.grid_match .matched {
  border: 5px solid #db5a6e;
  opacity: 0.5;
}
.grid_match div {
  border-radius: 30px;
  width: 50%;
  height: 20vh;
  align-items: center;
  justify-content: center;
  margin: 0;
  cursor: pointer;
}
.grid_match div img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}
.grid_match div p {
  margin: 0;
  color: black;
}

/* Ranking */
.user {
  border: 1px solid white;
  padding: 10px;
  border-radius: 40px;
  margin: 15px 0px;
}
.user p {
  margin: 10px;
}

.logged_user {
  background-color: #db5a6e;
  border-color: #d0203a;
}

.non_logged_user {
  background-color: white;
  border-color: #db5a6e;
}
.non_logged_user p {
  color: black !important;
}

.gold {
  color: gold;
}

.silver {
  color: silver;
}

.bronze {
  color: #cd7f32;
}

/* Profile */
.cursor-pointer {
  cursor: pointer;
}

.learntWords {
  background-color: #db5a6e;
  margin-top: 30px;
}
.learntWords div {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  padding: 25px;
  text-align: center;
  justify-content: center;
}
.learntWords div div {
  border: 2px solid white;
  box-shadow: 5px 5px #db5a6e;
  border-radius: 10px;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}
.learntWords div div p {
  margin: 0 !important;
  color: white;
}/*# sourceMappingURL=base.css.map */