<ion-header>
  <ion-toolbar>
    <ion-title>Games</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true" class=" ion-no-padding ion-text-center">
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-card>
          <img alt="Memory Game" src="../../assets/img/memory_game.png"/>
          <ion-card-header>
            <ion-card-title>Memory Game</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img alt="Memory Game" src="../../assets/img/hangman.png"/>
          <ion-card-header>
            <ion-card-title>Hangman</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="6">
        <ion-card>
          <img alt="Memory Game" src="../../assets/img/listening.png"/>
          <ion-card-header>
            <ion-card-title>Listen & choose</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
      <ion-col size="6">
        <ion-card>
          <img alt="Memory Game" src="../../assets/img/match.png"/>
          <ion-card-header>
            <ion-card-title>Match sentence halves</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
