{% extends "base.html" %} 
{% load static %} 
{% block title %} Match vocabulary {% endblock title %} 
{% block content %} 
<div class="home_page">
    <div class="grid_match">
        <div class="photo card">
            <img src="../../media/Apple.png" alt="">
        </div>
        <div class="text card">
            <p>Apple</p>
        </div>
        <div class="photo card">
            <img src="../../media/Banana.png" alt="">
        </div>
        <div class="text card">
            <p>Banana</p>
        </div>
        <div class="photo card">
            <img src="../../media/Pencil.png" alt="">
        </div>
        <div class="text card">
            <p>Pencil</p>
        </div>
        <div class="photo card">
            <img src="../../media/Backpack.png" alt="">
        </div>
        <div class="text card">
            <p>Backpack</p>
        </div>
    </div>
</div>
{% endblock content %}