{% extends "base.html" %}
{% load static %}
{% block title %} Match vocabulary {% endblock title %}
{% block content %}
<div class="home_page">
    <div class="grid_match">
        <div class="photo card" data-index="0" data-type="photo"></div>
        <div class="text card" data-index="0" data-type="text"></div>
        <div class="photo card" data-index="1" data-type="photo"></div>
        <div class="text card" data-index="1" data-type="text"></div>
        <div class="photo card" data-index="2" data-type="photo"></div>
        <div class="text card" data-index="2" data-type="text"></div>
        <div class="photo card" data-index="3" data-type="photo"></div>
        <div class="text card" data-index="3" data-type="text"></div>
    </div>
</div>
<script>
    const cards = document.querySelectorAll('.card');
    var attempts = 0;
    var words=[];

    const initializer = () => {
        getCards();
        suffleImage();
        clicking();
    }

    const getCards = () => {
        let csrftoken = '{{ csrf_token }}';
        let datuak = { quantity: 4 }
        $.ajax({
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            url: '{% url "getCards" %}',
            data: datuak,
            dataType: 'json',
            success: function (response) {
                for(let i=0;i<response.length;i++){
                    words.push(response[i].word)
                    cards.forEach((card)=>{
                        if(card.dataset['index']==i){
                            if(card.dataset['type']=="photo"){
                                card.innerHTML = "<img src='/media/" + response[i].photo + "'>";
                            }else{
                                card.innerHTML = "<p>" + response[i].word + "</p>";
                            }
                        }
                    });
                }
            },
        });
    }

    const suffleImage = () => {
            var photos = [];
            var texts = [];
            cards.forEach(c => {
                if (c.dataset["type"] == "photo") {
                    photos.push(c);
                } else {
                    texts.push(c)
                }
            })

            var numsPhoto = [1,2,3,4],
            ranNumsPhoto = [],
            i = numsPhoto.length,
            j = 0;

            while (i--) {
                j = Math.floor(Math.random() * (i+1));
                ranNumsPhoto.push(numsPhoto[j]);
                numsPhoto.splice(j,1);
            }
            
            var numsText = [1,2,3,4],
            ranNumsText = [],
            i = numsText.length,
            j = 0;

            while (i--) {
                j = Math.floor(Math.random() * (i+1));
                ranNumsText.push(numsText[j]);
                numsText.splice(j,1);
            }

            for(let i=0;i<photos.length;i++){
                photos[i].style.gridRow = ranNumsPhoto[i] + "/"+(ranNumsPhoto[i]+1);
                texts[i].style.gridRow = ranNumsText[i] + "/"+(ranNumsText[i]+1);
            }
        }

    const clicking = () => {
        cards.forEach((card) => {
            card.addEventListener('click', (e) => {
                card.classList.add("chosen");
                const chosen = document.querySelectorAll(".chosen");

                if (chosen.length == 2) {
                    match(chosen[0], chosen[1]);
                }
            });
        });
    }

    const match = (chosen1, chosen2) => {
        if (chosen1.dataset['index'] == chosen2.dataset['index']) {
            cardsAreTheSame(chosen1, chosen2);
        } else {
            cardsNotTheSame(chosen1, chosen2);
        }
    }

    const cardsAreTheSame = (chosen1, chosen2) => {
        chosen1.classList.remove('chosen');
        chosen2.classList.remove('chosen');

        chosen1.classList.add('matched');
        chosen2.classList.add('matched');

        matched = document.querySelectorAll(".matched");

        if (matched.length == 8) {
            plusPoints();
            addLearntWords();
            window.location="/game";
        }
    }

    const cardsNotTheSame = (chosen1, chosen2) => {
        attempts++;

        if(attempts<4){
            setTimeout(()=>{
                chosen1.classList.remove("chosen");
                chosen2.classList.remove("chosen");
            }, 500);
        }else{
            alert("Saiakera guztiak agortu dituzu");
        }
    }

    const plusPoints = () => {
        let csrftoken = '{{ csrf_token }}';
        let datuak = { points: 5 }
        $.ajax({
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            url: '{% url "plusPoints" %}',
            data: datuak,
            dataType: 'json',
            success: function (response) {
            },
        });
    };

    const addLearntWords = () => {
        let csrftoken = '{{ csrf_token }}';
        let datuak = JSON.stringify({ "words": words })
        console.log(datuak)
        $.ajax({
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            url: '{% url "addLearntWords" %}',
            data: datuak,
            dataType: 'json',
            success: function (response) {
            },
        });
    };

    window.onload = initializer;
</script>
{% endblock content %}