{% extends "base.html" %} 
{% load static %} 
{% block title %} Memory game {% endblock title %} 
{% block content %} 
<div class="home_page">
    <div class="grid_memory">
        <div class="cell">
            <div class="front" data-index="1"><img src="../../media/Apple.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="1"><p>Apple</p></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="2"><img src="../../media/Banana.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="2"><p>Banana</p></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="3"><img src="../../media/Pencil.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="3"><p>Pencil</p></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="4"><img src="../../media/Backpack.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="4"><p>Backpack</p></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="5"><img src="../../media/Ladybug.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="5"><p>Ladybug</p></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="6"><img src="../../media/Jellyfish.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="6"><p>Jellyfish</p></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="7"><img src="../../media/Hamburger.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="7"><p>Hamburger</p></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="8"><img src="../../media/Desk.png" alt=""></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="8"><p>Desk</p></div>
            <div class="back"></div>
        </div>
    </div>
</div>
<script src="{% static 'js/memory_game.js' %}"></script>
{% endblock content %}