{% extends "base.html" %}
{% load static %}
{% block title %} Memory game {% endblock title %}
{% block content %}
<div class="home_page">
    <div class="grid_memory" id="grid_memory">
        <div class="cell">
            <div class="front" data-index="0" data-type="photo"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="0" data-type="text"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="1" data-type="photo"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="1" data-type="text"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="2" data-type="photo"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="2" data-type="text"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="3" data-type="photo"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="3" data-type="text"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="4" data-type="photo"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="4" data-type="text"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="5" data-type="photo"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="5" data-type="text"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="6" data-type="photo"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="6" data-type="text"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="7" data-type="photo"></div>
            <div class="back"></div>
        </div>
        <div class="cell">
            <div class="front" data-index="7" data-type="text"></div>
            <div class="back"></div>
        </div>
    </div>
    <div id="container_hangman" class="container_hangman hide">
        <div id="new-game-container" class="new-game-popup" style="height:inherit;position:relative">
            <div id="result-text"></div>
            <button id="new-game-button">Nueva partida</button>
            <button id="game-menu-button">Volver al menu principal</button>
        </div>
    </div>
</div>
<script>
    const card = document.querySelectorAll('.cell');
    const front = document.querySelectorAll('.front');

    const newGameContainer = document.getElementById("container_hangman");
    const gridMemory = document.getElementById("grid_memory");
    const newGameButton = document.getElementById("new-game-button");
    const gameMenuButton = document.getElementById("game-menu-button");
    const resultText = document.getElementById("result-text");

    var attempts = 0;

    var words = [];

    const initializer = () => {
        getCards();
        suffleImage();
        gridMemory.classList.remove("hide")
        clicking();
    }

    const clicking = () => {
        for (let i = 0; i < card.length; i++) {
            card[i].addEventListener('click', (e) => {

                front[i].classList.add('flip');
                const flipped = document.querySelectorAll('.flip');

                if (flipped.length == 2) {
                    match(flipped[0], flipped[1]);
                }
            });
        }
    }

    const match = (flipped1, flipped2) => {
        if (flipped1.dataset['index'] == flipped2.dataset['index']) {
            cardsAreTheSame(flipped1, flipped2);
        } else {
            cardsNotTheSame(flipped1, flipped2);
        }
    }

    const cardsAreTheSame = (card1, card2) => {
        card1.classList.remove('flip');
        card2.classList.remove('flip');

        card1.classList.add('matched');
        card2.classList.add('matched');

        const matched = document.querySelectorAll('.matched');
        if (matched.length == 16) {
            resultText.innerHTML = "<h2 class='win-msg'>You Won!!</h2>";
            newGameContainer.classList.remove("hide");
            gridMemory.classList.add("hide")
            plusPoints();
            addLearntWords();
        }
    }

    const cardsNotTheSame = (card1, card2) => {
        attempts++;

        if (attempts < 15) {
            setTimeout(() => {
                card1.classList.remove('flip');
                card2.classList.remove('flip');
            }, 1000);
        } else {
            resultText.innerHTML = "<h2 class='lose-msg'>You Lost!!</h2>";
            newGameContainer.classList.remove("hide");
            gridMemory.classList.add("hide")
        }
    }

    const getCards = () => {
        let csrftoken = '{{ csrf_token }}';
        let datuak = { quantity: 8 }
        $.ajax({
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            url: '{% url "getCards" %}',
            data: datuak,
            dataType: 'json',
            success: function (response) {
                var cards = document.querySelectorAll(".front");
                for (let i = 0; i < response.length; i++) {
                    words.push(response[i].word)
                    cards.forEach((card) => {
                        if (card.dataset['index'] == i) {
                            if (card.dataset['type'] == "photo") {
                                card.innerHTML = "<img src='/media/" + response[i].photo + "'>";
                            }
                            if (card.dataset['type'] == "text") {
                                card.innerHTML = "<p>" + response[i].word + "</p>";
                            }
                        }
                    });
                    alert(words[i])
                }
            },
        });
    };
    const suffleImage = () => {
        card.forEach(c => {
            const num = [...Array(card.length).keys()]
            const random = Math.floor(Math.random() * card.length)
            c.style.order = num[random] + "";
        })

        front.forEach(c => {
            c.classList.remove("matched")
        })
    }

    const plusPoints = () => {
        let csrftoken = '{{ csrf_token }}';
        let datuak = { points: 15 }
        $.ajax({
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            url: '{% url "plusPoints" %}',
            data: datuak,
            dataType: 'json',
            success: function (response) {
            },
        });
    };

    const addLearntWords = () => {
        let csrftoken = '{{ csrf_token }}';
        let datuak = JSON.stringify({ "words": words })
        console.log(datuak)
        $.ajax({
            type: 'POST',
            headers: { 'X-CSRFToken': csrftoken },
            url: '{% url "addLearntWords" %}',
            data: datuak,
            dataType: 'json',
            success: function (response) {
            },
        });
    };

    const gameMenu = () => {
        window.location.href = "{% url 'game' %}"
    }

    const reloadPage = () => {
        location.reload();
    }
    //New Game
    newGameButton.addEventListener("click", reloadPage);
    gameMenuButton.addEventListener("click", gameMenu);
    window.onload = initializer;
</script>
{% endblock content %}