p {
  a {
    color: #eb445a;
  }
}

.margin_30 {
  margin-top: 30px;
}
.margin_50 {
  margin-top: 50px;
}

ion-item {
  --highlight-color-focused: #eb445a;
  width: 100%;
  margin: 0 10px;
}

ion-icon{
  margin-right: 10px;
}
