.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .login {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        a{
            color: #eb445a;
        }
    }
  }

  .margin_30{
    margin-top: 30px;
}
}

ion-item {
    --highlight-color-focused: #eb445a;
    width: inherit;
  }