<ion-header>
  <ion-toolbar>
    <ion-title>Inicio de sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid [fixed]="true" class="ion-text-center margin_50">
    <ion-row class="ion-justify-content-center">
      <ion-item>
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input type="email" placeholder="Correo" autofocus></ion-input>
      </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-item>
          <ion-icon name="lock-closed-outline"></ion-icon>
          <ion-input type="password" placeholder="Contraseña"></ion-input>
        </ion-item>
      </ion-row>
      <ion-row class="ion-justify-content-center margin_30">
        <ion-button color="danger" href="/games">INICIAR SESIÓN</ion-button>
      </ion-row>
      <ion-row class="ion-justify-content-center margin_30">
        <p>
          <a href="/register">¿Todavía no tienes una cuenta?</a>
        </p>
      </ion-row>
    <ion-row class="ion-justify-content-center">
      <p>O</p>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-button color="danger" fill="outline">INICIAR SESIÓN CON GOOGLE</ion-button>
    </ion-row>
  </ion-grid>
</ion-content>
